{% extends 'base.html.twig' %}

{% block title %}Ajout produit{% endblock %}

{% block body %}
<h1 class="text-center mt-5 mb-5">Ajout d'un produit</h1>
<div class="col-md-8 mx-auto">
    
  <form method="post">
   <div class="form-group">
    <label for="exampleFormControlSelect1">Choisir une Gamme</label>
    <select class="form-control" id="exampleFormControlSelect1" name="gamme_id">
      <option value="">choisir une gamme</option>

        {% for gamme in gammes %}
          <option value="{{gamme.id}}">{{gamme.nom}}</option>
        {% endfor %}
       
     
    </select>
  </div>
  
     <div class="form-group mt-2 mb-2">
    <label for="libelle">libelle</label>
    <input type="text" class="form-control mt-2" id="exampleFormControlInput1" placeholder="libelle" name="libelle">
  </div>
     <div class="form-group mt-2 mb-2">
    <label for="description">Description</label>
    <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
  </div>
  <div class="form-group mt-2 mb-2">
    <label for="prix">prix</label>
    <input type="text" class="form-control mt-2" id="exampleFormControlInput1" placeholder="prix" name="prix">
  </div>
  <div class="form-group mt-2 mb-2">
    <label for="quantite">quantite</label>
    <input type="text" class="form-control mt-2" id="exampleFormControlInput1" placeholder="quantite" name="quantite">
  </div>
  
    
    
    <button type="submit" class="btn btn-primary mt-4" value="ajouter">Submit</button>
  </fieldset>
</form>
   
</div>

{% endblock %}